#tableUl{
  list-style: none;
  background:black;
  width: 10em;
  text-align: left;
  padding: 0px;
  height: 30px;

}
li{
  font-size: 10px;
  background-color: black;
}

#cool {
    text-align: center;
    height: 10em;
    width: 10em;
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin: auto;
}
